*{
    padding:0px;
    margin: 0px;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }

body a{
    text-decoration: none;
    color:black;
}

@font-face {
    font-family: 'ayushhg';
    src: url('assets/hustleactlife-webfont.woff2') format('woff2'),
         url('assets/hustleactlife-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* .content{
    margin-top: 70px;
} */

.nav-bar{
    display: flex;
    height: 70px;
    background-color: #F6F4F0;
    /* backdrop-filter: blur(5px); */
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-space-one{
    width: 30%;
}

.nav-bar-buttons{
    width: 32%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.nav-bar-social{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
    font-size: 1.59rem;
}

@media (max-width: 700px){
    .nav-bar{
        height:45px;
        width:100%;
    }
    .nav-space-one{
        width: 10%;
        display: none;
    }
    
    .nav-bar-buttons{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    
    .nav-bar-social{
        width: 20%;
        display: none;
        align-items: center;
        justify-content: flex-end;
        margin-right: 100px;
        font-size: 1.59rem;
    }
}

.icons-social{
    margin-right: 22px;
}

.linkedin-system:hover{
    color: #0A66C2;
}

.github-system:hover{
    color:#89929b;
}

.mail-system:hover{
    color:#4e0506;
}

.nav-bar-line-box{
    height:1px;
    width:100%;
    display: flex;
    background-color: #F6F4F0;
    align-items: center;
    justify-content: center;
}

.nav-bar-line{
    height:1px;
    width:92%;
    background-color: #F6F4F0;
    color:black;
    border-top: solid black 1px;
}

.hero-section{
    height:100vh;
    width:100%;
    background-color:#F6F4F0;
    display: flex;
    align-items: center;
}

@media (max-width: 700px){
    .hero-section{
        height:100vh;
        width:100%;
        background-color:#F6F4F0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.side-text-div{
    transform: rotateZ(270deg);
    margin-left: -20px;
    margin-top: -20px;
    align-items: flex-start;
}

@media (max-width:700px){
    .side-text-div{
        display: none;
    }
}

.side-text{
    width:auto;
    height:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'ayushhg';
    font-size: 1.1rem;
}

.side-text-line{
    width: auto;
    height: 1px;
    border-top: solid black 1px;
    margin-bottom: 3px;
}

.hero-side-icon{
    margin-left: 7px;
}

.hero-photo-div{
    height: 420px;
    width: 420px;
    border: black 1.2px solid;
    border-radius: 50%;
    margin-left: 120px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture{
    height: 385px;
    width: 385px;
    border-radius: 50%;
    background-color: pink;
    background-image: url(assets/Ayush_PFP.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 700px){
    .hero-photo-div{
        height:27vh;
        width:27vh;
        border: black 1.2px solid;
        border-radius: 50%;
        margin-left: 20px;
        margin-top: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-picture{
        height: 24vh;
        width: 24vh;
        border-radius: 50%;
        background-color: pink;
        background-image: url(assets/Ayush_PFP.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.hero-name{
    height: 300px;
    margin-top: 20px;
    width: 42%;
    background-color: #F6F4F0;
}

.my-name-is{
    font-size: 3rem;
    text-align: right;
    font-family: 'ayushhg';
}

.ayush-goel{
    font-size: 5.0rem;
    text-align: right;
    margin-right: 0px;
    margin-top: -30px;
    font-family: 'ayushhg';
}

.name-pink-tone{
    height: 1.2rem;
    width: 71%;
    text-align: right;
    background-color: #FDE5D9;
    margin-top: -54px;
    margin-left: 200px;
}

@media (max-width: 700px){
    .name-pink-tone{
        height: 0.9rem;
        width: 81%;
        text-align: right;
        background-color: #FDE5D9;
        margin-top: -44px;
        margin-left: 20%;
    }

    .hero-name{
        height: 300px;
        margin-top: 20px;
        width: 80%;
        background-color: #F6F4F0;
    }
    
    .my-name-is{
        font-size: 1rem;
        text-align: right;
        margin-bottom: 20px;
        font-family: 'ayushhg';
    }
    
    .ayush-goel{
        width: 100%;
        font-size: 3.0rem;
        text-align: right;
        margin-right: 0px;
        margin-top: -30px;
        font-family: 'ayushhg';
    }
}

.hero-name-subtitle{
    font-size: 0.91rem;
    text-align: right;
    margin-right: 20px;
    margin-top: 1.1rem;
    color:#B3B3B3;
    font-family: 'Montserrat', sans-serif;
}

.hero-name-buttons{
    width: 100%;
    height: 42.1%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.contact-button{
    color: #F6F4F0;
    height: 40px;
    width: 200px;
    margin-right: 5px;
    border-radius: 0.655rem;
    background-color: black;
    font-size: 1rem;
    border: 1px solid black;
    transition: all 0.3s ease-out;
}

.contact-button:hover{
    color:black;
    background-color: #F6F4F0;
}

.resume-button{
    color: black;
    height: 40px;
    width: 143.16px;
    font-size: 1rem;
    margin-right: 10px;
    border-radius: 0.655rem;
    background-color: #F6F4F0;
    border: 1px solid black;
    transition: all 0.3s ease-out;
    align-items: center;
    justify-content: center;
}

.resume-button:hover{
    color: white;
    background-color: black;
}

.hero-down-arrow{
    color: black;
    height: 80px;
    background-color: #F6F4F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow1down{
    font-size: 3.5rem;
    font-weight: lighter;
}

.about-section{
    height: 100vh;
    background-color: #E6E6E6;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.about-profile{
    height: 75%;
    background-color: #E6E6E6;
    width: 80%;
    margin-left: 60px;
    font-size: 1.1rem;
    margin-top: -40px;
}

@media (max-width: 700px){
    .rekha{
        display: none;
    }
}

.about-side{
    margin-left: 6px;
}

.about-title-heading{
    margin-top: 70px;
    display: flex;
    /* background-color: pink; */
    width: 95%;
    font-weight: 600;
    font-size: 1.3rem;

}

.about-title-numbering{
    width: 12%;
}

.heading-about{
    margin-right: 8px;
}



.company-name{
    margin-left: 111.5px;
    margin-top: 25px;
    font-weight: 600;
}

.experiences{
    margin-left: 111.5px;
    margin-top: 5px;
}

.experience-description{
    margin-top: 5px;
}

.skills-section{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FDE5D9;
}

.skills-heading{
    font-size: 1.5rem;
    font-family: 'ayushhg';

}

.All-skills{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
}

.all-skills-div{
    font-size: 1.45rem;
    width: 25%;
}

.skills-individual{
    font-size: 1.1rem;
    margin-top: 10px;
}

.tick-mark{
    margin-right: 0px;
    align-items: flex-end;
}

.project-section{
    height: 100vh;
    background-color: #F6F4F0;
    display: flex;
    align-items: center;
    justify-content: start;
}

.project-side{
    margin-left: 0px;
}

.PROJECT-HEADING{
    margin-top: 170px;
    margin-left: 30px;
    /* margin-left: 40px; */
}

.project-picture{
    height: 400px;
    width: 640px;
    background-image: url(assets/Project_Amazon.png);
    background-size: cover;
    /* justify-content: center; */
    margin-top: 20px;
    /* align-items: center; */
    margin-left: 20px;
}

@media (max-width: 700px){
    .project-image-div{
        display: none;
    }
}

.image-border{
    height: 440px;
    width: 680px;
    margin-top: 80px;
    margin-left: 380px;
    border: 1px solid black;
}

.project-wala{
    width: 100%;
    margin-top: -200px;
}

.project-heading-system{
    margin-left: -35px;
}

.Website-button{
    height: 40px;
    width: 143px;
    margin-top: 50px;
    background-color: #F6F4F0;
    border: 0px solid black;
    align-items: center;
    justify-content: center;
    font-size: 1.001rem;
    margin-left: 43%;
    border: black 1px solid;
}

.Website-button:hover{
    background-color: white;
    font-weight: 600;
}

.contact-me-section{
    height: 15vh;
    background-color: #FDE5D9;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contact-me-text{
    font-weight: 550;
    font-size: 1.5rem;
    font-family:"ayushhg";
}

.email-id-div{
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: flex-start;
    background-color: #FDE5D9;
    font-weight: 550;
}